/*Stylesheet Test*/

body{
	background-color: lightgray;
	text-align: center;
}

table{
	margin-left: auto;
	margin-right: auto;
}

#logout {
	display: inline-block;
	text-align: left;
	text-decoration: none;
	padding: 10px;
	background-color: #e65050;
	border-radius: 18px 18px 18px 18px;
	font-size: 32px;
	cursor: pointer;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#active {
	background-color: #3e87cc;
	color: white;
}

#navBar {
	list-style-type: none;
	margin: 0 auto;
	padding: 10px;
	background-color: rgb(241, 194, 132);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/*.topBar {
	display: inline;
	padding: 8px 16px;
	border-right: 1px solid black;
	display: block;
}*/

.topBar {
	padding: 0;
	border-right: 1px solid black;
	display: block;
	width: auto;
	margin: 8px;
}

.topBar:last-child {
	border-right: none;
}

.topBar a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 8px 16px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.topBar a:hover {
	background-color: lightgray;
	color:white;
}

/*.topBar a {
	text-decoration: none;
	color: black;
	display: block;
}

#navBar li a:hover{
	background-color: lightgray;
	color: white;
}*/

img {
	width: 381px; 
	height: 303px;
}

img:hover {
	cursor: pointer;
}

@font-face {
	font-family: 'Dubai';
	src: url('./DUBAI-REGULAR.TTF') format("dubai");
}

h1 ,h2, h3, h4, a{
	font-family: 'Dubai', sans-serif;
}

